<html>
  <head>
    <title>About the Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <h1>This is a Blogtastic Blog</h1>
    <p>All sorts of blogging will be done here in this location.</p>

    <%= fa_icon "fa-twitter" %>
  </body>
</html>


